.cartitems{
    margin: 10px  70px;
}

.cartitems hr{
    height: 3px;
    background-color: #e2e2e2;
    border: 0;
    
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: dimgrey;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format-main hr{
    color: #1b1b1b;
}

.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.cartitems-product-icon{
    height: 100px;
}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #e2e2e2;
    background: #e2e2e2;
}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-item-total{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: darkviolet;
    color: blanchedalmond;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p{
    color: #1b1b1b;
}

.cartitems-promocode-box{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #e2e2e2;
}

.cartitems-promocode-box input{
    border: 1px solid;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 457px;
    height: 29px;
    margin-left: -20px;
}

.cartitems-promocode-box button{
    width: 170px;
    height: 58px;
    margin-top: 15px;
    font-size: 16px;
    background: darkviolet;
    color: beige;
    cursor: pointer;
}
